doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= title
    meta(name='Author' content='Wangfei')
    meta(name='Keywords' content='code for fun, execise, Wangfei')
    meta(name='description' content='')
    meta(name='Viewport' content='width=device-width, initial-scale=1, user-scalable=no, minimal-ui')

    link(rel='stylesheet', href='/css/style.min.css')

    script(src='/vendor/modernizr/modernizr.js')
    script(data-main='/js/main.js' src='/vendor/requirejs/require.js')

  body

    header
      h1= title

    nav
      span: a(href='/') home
      span: a(href='/archive') archive
      span: a(href='/tags') tags
      span: a(href='/links') links
      if user
        span: a(href='/upload') upload
        span: a(href='/post') post
        span: a(href='/logout') logout
      else
        span: a(href='/login') login
        span: a(href='/reg') register

      span
        form(action='/search' method='GET')
          input.search(type='text' name='keyword' placeholder='SEARCH')

    article
      if success
        div= success
      if error
        div= error

      block content

      p hello world!


    script#__bs_script__ document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.0.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
